@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: visible;
  overscroll-behavior: contain;
  font-family: "carlmarx", sans-serif;
  font-weight: 400;
  font-size: 15pt;
  font-style: normal;
  padding: 0;
  margin: 0;
  min-height: 200dvh;
  background: -webkit-linear-gradient(90deg, #20616a 0%, #f5f5f5 100%);
}

svg {
  overflow-x: visible;
  overflow-y: visible;
  z-index: 20;
}
::selection {
  background: #e8ceb8;
}
.svgHoldSelected {
  cursor: pointer;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  stroke: #d97706;
}

@media (pointer: fine) {
  .svgHoldSelected:hover {
    opacity: 0.4;
  }
}

.svgHoldNotSelected {
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (pointer: fine) {
  .svgHoldNotSelected:hover {
    opacity: 0.4;
  }
}

.button {
  background-color: #f3f4f6;
  width: 198px;
  font-weight: 800;
  color: #313638;
  padding-left: 8px;
  padding-right: 8px;
  border-width: 1px;
  border-radius: 0.375rem;
  line-height: 26px;
  font-size: 15pt;
  z-index: 10;
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (pointer: fine) {
  .button:hover {
    opacity: 0.4;
  }
}

.buttonPlaying {
  background-color: #f3f4f6;
  opacity: 0.4;
  width: 198px;
  font-weight: 800;
  color: #313638;
  padding-left: 8px;
  padding-right: 8px;
  border-width: 1px;
  border-radius: 0.375rem;
  line-height: 26px;
  font-size: 15pt;
  z-index: 10;
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.buttonSM {
  background-color: #f3f4f6;
  width: 65px;
  color: #313638;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
  border-width: 2.5px;
  border-radius: 9px;
  line-height: 26px;
  font-size: 11pt;
  z-index: 10;
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.buttonSMPlaying {
  background-color: #f3f4f6;
  opacity: 0.4;
  width: 65px;
  color: #313638;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
  border-width: 2.5px;
  border-radius: 9px;
  line-height: 26px;
  font-size: 11pt;
  z-index: 10;
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (pointer: fine) {
  .buttonSM:hover {
    opacity: 0.4;
  }
}

.buttonSMSelected {
  background-color: #f3f4f6;
  width: 65px;
  color: #313638;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
  border-width: 2.5px;
  border-radius: 9px;
  border-color: #d97706;
  line-height: 26px;
  font-size: 11pt;
  z-index: 10;
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (pointer: fine) {
  .buttonSMSelected:hover {
    opacity: 0.4;
  }
}

.buttonSMSelectedPlaying {
  background-color: #f3f4f6;
  opacity: 0.4;
  width: 65px;
  color: #313638;
  margin-top: 3px;
  margin-left: 1px;
  margin-right: 1px;
  border-width: 2.5px;
  border-radius: 9px;
  border-color: #d97706;
  line-height: 26px;
  font-size: 11pt;
  z-index: 10;
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.lineMoving10 {
  max-width: 750px;

  position: absolute;
  overflow: hidden;
  animation: moveUp linear 10s;
}

.lineMoving7 {
  max-width: 1000px;

  position: absolute;
  overflow: hidden;
  animation: moveUp linear 7s;
}

.lineMoving4 {
  max-width: 750px;

  position: absolute;
  overflow: hidden;
  animation: moveUp linear 4s;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
