@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;

  background: hsla(187, 54%, 27%, 1);
  background: linear-gradient(
    90deg,
    hsla(187, 54%, 27%, 1) 0%,
    hsla(0, 0%, 96%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(187, 54%, 27%, 1) 0%,
    hsla(0, 0%, 96%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(187, 54%, 27%, 1) 0%,
    hsla(0, 0%, 96%, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1F6069", endColorstr="#F6F6F6", GradientType=1);
}

svg {
  min-width: 50vh;
  overflow-x: visible;
  overflow-y: visible;
  z-index: 8;
}

.svgHoldSelected {
  cursor: pointer;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  stroke: #d97706;
}

.svgHoldNotSelected {
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.baseSvgHold {
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.svgHoldNotSelected:hover {
  opacity: 0.4;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.lineMoving10 {
  width: 27vw;
  height: auto;
  position: absolute;
  overflow: hidden;
  animation: moveUp linear 10s;
}

.lineMoving7 {
  width: 27vw;
  height: auto;
  position: absolute;
  overflow: hidden;
  animation: moveUp linear 7s;
}

.lineMoving4 {
  width: 27vw;
  height: auto;
  position: absolute;
  overflow: hidden;
  animation: moveUp linear 4s;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
